n8n/drakar_comic_workflow.json
{
  "name": "DRAKAR Comic Builder",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": "REPLACE_DRAKAR_TRANSCRIPTS_FOLDER_ID",
        "event": "fileCreated",
        "options": {}
      },
      "id": "drive-trigger",
      "name": "Drive Trigger (transcripts)",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "campaign",
              "value": "drakar",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "session_id",
              "value": "={{ $json.name.match(/(\\d+)/)?.[1] || $json.name }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "transcript_file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "comic_prompt_file_id",
              "value": "REPLACE_DRAKAR_COMIC_PROMPT_FILE_ID",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-bootstrap",
      "name": "Set: bootstrap",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set: bootstrap').item.json.transcript_file_id }}",
          "mode": "id"
        },
        "options": {},
        "binaryPropertyName": "transcript"
      },
      "id": "drive-download-transcript",
      "name": "Drive: Download Transcript",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "transcript",
        "options": {
          "keepSource": "binary"
        }
      },
      "id": "extract-transcript",
      "name": "Extract Transcript Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "id": "gemini-model",
      "name": "Gemini 2.5 Flash",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1080,
        480
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Extract Transcript Text').item.json.data }}",
        "messages": {
          "messageValues": [
            {
              "type": "system",
              "message": "REPLACE_ME_IN_NODE \u2014 add the storyboard system prompt here in the n8n UI. The user input will be the raw session transcript. Output should be the distilled storyboard text for the comic generator."
            }
          ]
        }
      },
      "id": "agent-storyboard",
      "name": "AI Agent: Storyboard",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1080,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const sessionId = $('Set: bootstrap').item.json.session_id;\nconst camp = $('Set: bootstrap').item.json.campaign;\n// LLM Chain output lives in $json.text or $json.response depending on version.\nconst j = $input.first().json;\nconst storyboardText = j.text || j.response || j.output || JSON.stringify(j);\nconst fileName = `session_${sessionId}.md`;\nreturn [{\n  json: { ...j, storyboard_text: storyboardText, storyboard_filename: fileName },\n  binary: {\n    storyboard: {\n      data: Buffer.from(storyboardText, 'utf-8').toString('base64'),\n      mimeType: 'text/markdown',\n      fileName,\n    },\n  },\n}];"
      },
      "id": "code-stash-storyboard",
      "name": "Code: stash storyboard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        300
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "={{ $json.storyboard_filename }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "REPLACE_DRAKAR_STORYBOARDS_FOLDER_ID"
        },
        "options": {},
        "binaryPropertyName": "storyboard"
      },
      "id": "drive-upload-storyboard",
      "name": "Drive: Upload Storyboard (archive)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1520,
        180
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set: bootstrap').item.json.comic_prompt_file_id }}",
          "mode": "id"
        },
        "options": {},
        "binaryPropertyName": "prompt"
      },
      "id": "drive-download-prompt",
      "name": "Drive: Download Comic Prompt",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1520,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const sb = $('Code: stash storyboard').item;\nconst pr = $('Drive: Download Comic Prompt').item;\nreturn [{\n  json: { ...sb.json, ...$('Set: bootstrap').item.json },\n  binary: {\n    storyboard: sb.binary.storyboard,\n    prompt: pr.binary.prompt,\n  },\n}];"
      },
      "id": "code-merge-binaries",
      "name": "Code: merge binaries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1740,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://notebooklm-runner:8000/comic",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "campaign",
              "value": "={{ $('Set: bootstrap').item.json.campaign }}"
            },
            {
              "name": "session_id",
              "value": "={{ $('Set: bootstrap').item.json.session_id }}"
            },
            {
              "name": "storyboard",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "storyboard"
            },
            {
              "name": "prompt",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "prompt"
            }
          ]
        },
        "options": {
          "timeout": 120000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "post-comic",
      "name": "POST /comic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1",
              "name": "job_id",
              "value": "={{ $json.job_id }}",
              "type": "string"
            },
            {
              "id": "b2",
              "name": "attempts",
              "value": 0,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "set-init-loop",
      "name": "Set: init loop",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2180,
        300
      ]
    },
    {
      "parameters": {
        "amount": 60,
        "unit": "seconds"
      },
      "id": "wait-60",
      "name": "Wait 60s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2400,
        300
      ],
      "webhookId": "wait-60-drakar"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://notebooklm-runner:8000/comic/{{ $('Set: init loop').item.json.job_id }}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "get-status",
      "name": "GET status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2620,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const s = $input.first().json;\nconst prev = $('Set: init loop').item.json.attempts ?? 0;\nreturn [{ json: { ...s, job_id: $('Set: init loop').item.json.job_id, attempts: prev + 1 } }];"
      },
      "id": "code-tick",
      "name": "Code: tick",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2840,
        300
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "done",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "done",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "done"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "failed",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "failed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "failed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "timeout",
                    "leftValue": "={{ $json.attempts }}",
                    "rightValue": 30,
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "timeout"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "loop"
        }
      },
      "id": "switch-status",
      "name": "Switch: status",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3060,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://notebooklm-runner:8000/comic/{{ $('Set: init loop').item.json.job_id }}/pdf",
        "options": {
          "timeout": 120000,
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "pdf"
            }
          }
        }
      },
      "id": "get-pdf",
      "name": "GET pdf",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3300,
        140
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "=drakar_session_{{ $('Set: bootstrap').item.json.session_id }}.pdf",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "REPLACE_DRAKAR_COMICS_FOLDER_ID"
        },
        "options": {},
        "binaryPropertyName": "pdf"
      },
      "id": "drive-upload-comic",
      "name": "Drive Upload (comic PDF)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3520,
        140
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "sz",
              "leftValue": "={{ $('GET pdf').item.binary.pdf.fileSize }}",
              "rightValue": 26214400,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-size",
      "name": "IF: size <= 25MB",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3740,
        140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "REPLACE_DISCORD_WEBHOOK_URL",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "payload_json",
              "value": "={\"content\":\"DRAKAR session {{ $('Set: bootstrap').item.json.session_id }} comic is up! :scroll:\"}"
            },
            {
              "name": "file",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "pdf"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "discord-attach",
      "name": "Discord: success (attach)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3960,
        60
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "REPLACE_DISCORD_WEBHOOK_URL",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"content\":\"DRAKAR session {{ $('Set: bootstrap').item.json.session_id }} comic ready (too large to attach): {{ $('Drive Upload (comic PDF)').item.json.webViewLink }}\"}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "discord-link",
      "name": "Discord: success (link)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3960,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "REPLACE_DISCORD_WEBHOOK_URL",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"content\":\":warning: DRAKAR comic FAILED for session {{ $('Set: bootstrap').item.json.session_id }} (job {{ $('Set: init loop').item.json.job_id }}): {{ $('GET status').item.json.error || $json.error || 'no detail' }}\"}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "discord-fail",
      "name": "Discord: failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3300,
        460
      ]
    }
  ],
  "connections": {
    "Drive Trigger (transcripts)": {
      "main": [
        [
          {
            "node": "Set: bootstrap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: bootstrap": {
      "main": [
        [
          {
            "node": "Drive: Download Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive: Download Transcript": {
      "main": [
        [
          {
            "node": "Extract Transcript Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Transcript Text": {
      "main": [
        [
          {
            "node": "AI Agent: Storyboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.5 Flash": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent: Storyboard",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent: Storyboard": {
      "main": [
        [
          {
            "node": "Code: stash storyboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: stash storyboard": {
      "main": [
        [
          {
            "node": "Drive: Upload Storyboard (archive)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Drive: Download Comic Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive: Download Comic Prompt": {
      "main": [
        [
          {
            "node": "Code: merge binaries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: merge binaries": {
      "main": [
        [
          {
            "node": "POST /comic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /comic": {
      "main": [
        [
          {
            "node": "Set: init loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: init loop": {
      "main": [
        [
          {
            "node": "Wait 60s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 60s": {
      "main": [
        [
          {
            "node": "GET status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET status": {
      "main": [
        [
          {
            "node": "Code: tick",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: tick": {
      "main": [
        [
          {
            "node": "Switch: status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: status": {
      "main": [
        [
          {
            "node": "GET pdf",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Discord: failure",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Discord: failure",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 60s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET pdf": {
      "main": [
        [
          {
            "node": "Drive Upload (comic PDF)",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF: size <= 25MB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive Upload (comic PDF)": {
      "main": [
        []
      ]
    },
    "IF: size <= 25MB": {
      "main": [
        [
          {
            "node": "Discord: success (attach)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Discord: success (link)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "",
  "id": "",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}